@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@keyframes nom1 {
    from {transform: rotate(180deg) translateY(0px)}
    to {transform: rotate(180deg) translateY(-5px)}
}

@keyframes nom2 {
    from {transform: translateY(0px)}
    to {transform: translateY(-5px)}
}

@mixin teeth($main-color, $size: 20px, $translate: 0px) {
    &:before, &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: $size / 2;
        background: 
            linear-gradient(
                45deg,
                transparent $unit,
                $main-color $unit,
                $main-color $unit * 2,
                transparent $unit * 2
            ),
            linear-gradient(
                -45deg,
                transparent $unit,
                $main-color $unit,
                $main-color $unit * 2,
                transparent $unit * 2
            );
        background-size: $size $size * 2;
        animation: none;
    }
    
    &:before {
        top: -$unit;
        transform: rotate(180deg) translateY(-$translate);
    }
    
    &:after {
        bottom: -$unit;
        transform: translateY(-$translate);
    }
}

@mixin chew($main-color, $size: 20px) {
    @include teeth($main-color, $size);
    
    &:before, &:after {
        animation-duration: 100ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    &:before {
        top: -$unit;
        animation-name: nom1;
    }
    
    &:after {
        bottom: -$unit;
        animation-name: nom2;
    }
}

$unit: 100% / 3;
$background: linear-gradient(10deg, #8caffe, #a0d1f0);
$transbluecent: rgba(85, 150, 220, 0.8);
$transbluecenter: rgba(85, 150, 220, 0.4);

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: $background;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    #wrapper {
        width: 70%;
        min-width: 920px;
        margin: 0 auto;
        
        header {
            position: relative;
            display: flex;
            justify-content: center;
            
            .side-frame {
                flex: 1 1 0;
                background: $transbluecent;
            }

            .picture-frame {
                border: 10px solid $transbluecent;
                width: 900px;

                img {
                    display: block;
                    width: 100%;
                }
            }


            nav {
                position: absolute;
                bottom: 16%;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 900px;

                background-color: lighten($transbluecent, 10%);
                
                .link-item {
                    position: relative;
                    
                    a {
                        position: relative;
                        display: block;
                        padding: 10px 20px;
                        font-size: 20px;
                        color: black;
                        text-decoration: none;
                        text-shadow: 0 0 2px black;
                        
                        transition: 0.2s;
                            
                        &:before, &:after {
                            content: '♥';
                            position: absolute;
                            color: deeppink;
                            text-shadow: none;

                            opacity: 0;
                            transition: 0.1s;
                        }

                        &:before {
                            font-size: 30px;
                            transform: scale(0.1, 0.1) translateY(100%) rotate(-30deg);
                            top: -40px;
                            right: 10px;
                        }

                        &:after {
                            font-size: 18px;
                            transform: scale(0.1, 0.1) translateY(200%) rotate(10deg);
                            top: -50px;
                            right: -5px;
                        }
                    }
                    
                    &before, &:after {
                        transition: 0.1s;
                    }
                    
                    &:hover {
                        @include chew(bisque, 20px);
                        
                        a {
                            color: darken(darkred, 10%);
                            text-shadow: 0 0 2px darkred;
                        }
                    }
                    
                    &:active {
                        @include teeth(mix(bisque, darkred, 75%), 20px, 13px);
                        /*background-image: radial-gradient(darkred, transparent 70%);*/
                        
                        a {
                            color: darkred;
                            text-shadow: 0 0 10px darkred;
                            
                            &:before {
                                transform: scale(1, 1) translateY(0%) rotate(-30deg);
                                opacity: 1;
                                text-shadow: none;
                            }
                            
                            &:after {
                                transform: scale(1, 1) translateY(0%) rotate(10deg);
                                opacity: 1;
                                text-shadow: none;
                            }
                        }
                    }
                }
            }
        }
        
        main {
            display: flex;
            flex-direction: row;
            
            .article-wrapper {
                flex: 1 1 70%;
                margin-right: 10px;
                
                article {
                    background: $transbluecent;
                    margin: 10px 0;
                    padding: 10px;
                    
                    h1 {
                        font-size: 28px;
                        text-align: center;
                        margin: 15px 0;
                    }
                    
                    img {
                        display: block;
                        margin: 10px auto;
                        max-width: 100%;
                    }
                    
                    p {
                        margin: 10px;
                    }
                }
            }
            
            aside {
                flex: 1 1 30%;
                
                h2 {
                    font-size: 20px;
                    text-align: center;
                    margin: 0 0 10px;
                }
                
                .aside-box {
                    background: lighten($transbluecent, 10%);
                    margin: 10px 0;
                    padding: 10px;
                }
                
                .login {
                    
                    .form-group {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 5px;
                        
                        label {
                            display: block;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 20px;
                            margin: 5px 0;
                        }

                        input {
                            display: block;
                            font-size: 16px;
                            height: 28px;
                            flex: 1 1 100%;
                            margin: 5px 0;
                            padding: 5px 8px;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                            border-radius: 5px;
                            
                            &:focus {
                                outline: none;
                                border: 1px solid rgba(0, 0, 0, 0.3);
                            }
                            
                            &#password {
                                letter-spacing: 3px;
                                font-weight: bolder;
                            }
                        }
                        
                        small {
                            font-size: 10px;
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                
                .news {
                    article {
                        margin-bottom: 10px;
                        
                        h3 {
                            font-size: 16px;
                            font-weight: normal;
                        }

                        p {
                            font-size: 12px;
                            font-style: italic;
                        }
                    }
                    
                }
            }
        }
    }
}