@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@keyframes nom1 {
  from {
    transform: rotate(180deg) translateY(0px); }
  to {
    transform: rotate(180deg) translateY(-5px); } }

@keyframes nom2 {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-5px); } }

/* line 4, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
main #form-wrapper {
  background: rgba(85, 150, 220, 0.8);
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 10px; }
  /* line 11, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
  main #form-wrapper .form-half {
    flex: 1 1 50%; }
    /* line 14, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
    main #form-wrapper .form-half:first-child {
      margin-right: 20px; }
    /* line 18, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
    main #form-wrapper .form-half .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 5px; }
      /* line 24, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
      main #form-wrapper .form-half .form-group label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        margin: 5px 0; }
      /* line 32, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
      main #form-wrapper .form-half .form-group input, main #form-wrapper .form-half .form-group textarea {
        display: block;
        font-size: 16px;
        height: 28px;
        flex: 1 1 100%;
        margin: 5px 0;
        padding: 5px 8px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px; }
        /* line 43, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
        main #form-wrapper .form-half .form-group input:focus, main #form-wrapper .form-half .form-group textarea:focus {
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.3); }
      /* line 49, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
      main #form-wrapper .form-half .form-group textarea {
        resize: vertical; }
      /* line 53, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
      main #form-wrapper .form-half .form-group .submit {
        background: rgba(255, 255, 255, 0.7);
        line-height: 20px;
        width: 25%;
        margin: 10px auto; }
        /* line 59, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
        main #form-wrapper .form-half .form-group .submit:hover {
          background: rgba(255, 255, 255, 0.5);
          cursor: pointer; }
        /* line 64, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
        main #form-wrapper .form-half .form-group .submit:active {
          background: rgba(85, 150, 220, 0.8); }

/* line 72, C:/xampp/htdocs/TsundereSharks/styles/submit-style.scss */
main #reprimand {
  background: rgba(85, 150, 220, 0.8);
  margin: 10px 0;
  padding: 10px;
  font-size: 22px;
  text-align: center; }

/*# sourceMappingURL=submit-style.css.map */